<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.veve.shotsandsugar">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SugarActivity"
            android:label="@string/add_sugar_level"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ShotActivity"
            android:label="@string/add_insulin_shot"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.MealActivity"
            android:label="@string/add_meal"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.DiagramActivity"
            android:label="@string/show_diagram"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ActivityActivity"
            android:label="@string/add_activity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>