<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.veve.shotsandsugar">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SugarActivity"
            android:label="@string/add_glucose_level"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ShotActivity"
            android:label="@string/add_insulin_shot"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.MealActivity"
            android:label="@string/add_meal"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.DiagramActivity"
            android:label="@string/show_diagram"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.MoreActivity"
            android:label="@string/add_more"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ActivityActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/add_activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.MealIngredientActivity"
            android:label="@string/title_activity_meal_ingredient"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>